*
{
	margin: 0;
	padding: 0;
    font-family: sans-serif;
}
body{
	height: 100%;
	width: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(gau.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.lecturer-form{
	width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: #fff;
    
}
.lecturer-form h1{
	font-size: 25px;
	text-align: absolute;
	text-transform: uppercase;
	margin: 30px 0;
	color: blue;

}
.lecturer-form p {
	font-size: 20px;
	margin: 15px 0;
}
.lecturer-form input{
	font-size: 16px;
	width: 100%;
	padding: 15px 10px;
	border: 0;
	outline: none;
	border-radius: 5px;
	background-color:grey;
}
.lecturer-form button{
	font-size: 15px;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px 15px;
	width: 30%;
	border-radius: 5px;
	border: 0;
	color: white;
}
.lecturer-form button:hover{
	color: orange;
}
button
{
	text-decoration: none;
	color: palevioletred;
	font-size: 28px;
	background-color: green;
}